QToolButton#toolButtonClose
{
	width: 39px;
	height: 20px;
	border-image:url(:/SysMenu/Resources/sysbtn_close_normal.png) 0 0 0 0 stretch stretch;
}

QToolButton#toolButtonClose:hover 
{
	border-image:url(:/SysMenu/Resources/sysbtn_close_hover.png) 0 0 0 0 stretch stretch;
}

QToolButton#toolButtonClose:pressed 
{
	border-image:url(:/SysMenu/Resources/sysbtn_close_down.png) 0 0 0 0 stretch stretch;
}

QToolButton#toolButtonMin
{
	width: 39px;
	height: 20px;
	border-image:url(:/SysMenu/Resources/sysbtn_min_normal.png) 0 0 0 0 stretch stretch;
}

QToolButton#toolButtonMin:hover 
{
	border-image:url(:/SysMenu/Resources/sysbtn_min_hover.png) 0 0 0 0 stretch stretch;
}

QToolButton#toolButtonMin:pressed 
{
	border-image:url(:/SysMenu/Resources/sysbtn_min_down.png) 0 0 0 0 stretch stretch;
}





QPushButton#pushBtnContract
{
    border-image: url(:/MainTab/Resources/main_tab_check.png 0 0 0 0 stretch stretch;
    background-repeat:no-repeat;
    border:none;
    background-position: center left;
}

QPushButton#pushBtnContract:hover 
{
	border-image: url(:/MainTab/Resources/main_tab_check.png 0 0 0 0 stretch stretch;
	 background-repeat:no-repeat;
}

QPushButton#pushBtnContract:pressed 
{
	border-image: url(:/MainTab/Resources/main_tab_check.png 0 0 0 0 stretch stretch;
	background-repeat:no-repeat;
}

QPushButton#pushBtnContract:checked 
{
	border-image: url(:/MainTab/Resources/main_tab_check.png 0 0 0 0 stretch stretch;
	background-repeat:no-repeat;
}








QPushButton#groupBtn
{
    background-image: url(:/MainTab/Resources/main_tab_check.png 0 0 0 0 stretch stretch;
    background-repeat:no-repeat;
    border:none;
    background-position: center left;
}

QPushButton#groupBtn:hover 
{
	background-image: url(:/MainTab/Resources/main_tab_check.png 0 0 0 0 stretch stretch;
	background-repeat:no-repeat;
}

QPushButton#groupBtn:pressed 
{
	background-image: url(:/MainTab/Resources/main_tab_check.png 0 0 0 0 stretch stretch;
	background-repeat:no-repeat;
}

QPushButton#groupBtn:checked 
{
	background-image: url(:/MainTab/Resources/main_tab_check.png 0 0 0 0 stretch stretch;
	background-repeat:no-repeat;
}


QPushButton#lastBtn
{
    background-image: url(:/MainTab/Resources/main_tab_check.png 0 0 0 0 stretch stretch;
    background-repeat:no-repeat;
    border:none;
    background-position: center left;
}

QPushButton#lastBtn:hover 
{
	background-image: url(:/MainTab/Resources/main_tab_check.png 0 0 0 0 stretch stretch;
	 background-repeat:no-repeat;
}

QPushButton#lastBtn:pressed 
{
	background-image: url(:/MainTab/Resources/main_tab_check.png 0 0 0 0 stretch stretch;
	background-repeat:no-repeat;
}

QPushButton#lastBtn:checked 
{
	background-image: url(:/MainTab/Resources/main_tab_check.png 0 0 0 0 stretch stretch;
	background-repeat:no-repeat;
}

QWidget#columnWidget
{
    background-image: url(:/MainTab/Resources/main_tab_check.png 0 0 0 0 stretch stretch; 0 0 0 0 stretch stretch;

}

QToolButton#toolBtnMainMenu
{
border-image:url(:/ToolWidget/Resources/menu_btn_normal.png) 0 0 0 0 stretch stretch;
}

QToolButton#toolBtnMainMenu:hover
{
border-image:url(:/ToolWidget/Resources/menu_btn_highlight.png) 0 0 0 0 stretch stretch;
}


QPushButton#AppMenu
{
    background-image: url(:/AppMenu/Resources/mainmenubutton/menu_btn_normal.png 0 0 0 0 stretch stretch;
}

QPushButton#AppMenu:hover
{
 background-image: url(:/ToolWidget/Resources/menu_btn_highlight.png 0 0 0 0 stretch stretch;
}

// 设置垂直滚动条基本样式
QScrollBar#ScrollBar:vertical
{
    width:8px;
    background:rgba(0,0,0,0%);
    margin:0px,0px,0px,0px;
    padding-top:9px;   // 留出9px给上面和下面的箭头
    padding-bottom:9px;
}
QScrollBar#ScrollBar::handle:vertical
{
    width:8px;
    background:rgba(0,0,0,25%);
    border-radius:4px;   // 滚动条两端变成椭圆
    min-height:20;
}
QScrollBar#ScrollBar::handle:vertical:hover
{
    width:8px;
    background:rgba(0,0,0,50%);   // 鼠标放到滚动条上的时候，颜色变深
    border-radius:4px;
    min-height:20;
}
QScrollBar#ScrollBar::add-line:vertical   // 这个应该是设置下箭头的，3.png就是箭头
{
    height:9px;width:8px;
    border-image:url(:/SCrollBar/ScrollBar/scrollbar_arrowdown_normal.png);
    subcontrol-position:bottom;
}
QScrollBar#ScrollBar::sub-line:vertical   // 设置上箭头
{
    height:9px;width:8px;
    border-image:url(:/images/a/1.png);
    subcontrol-position:top;
}
QScrollBar#ScrollBar::add-line:vertical:hover   // 当鼠标放到下箭头上的时候
{
    height:9px;width:8px;
    border-image:url(:/images/a/4.png);
    subcontrol-position:bottom;
}
QScrollBar#ScrollBar::sub-line:vertical:hover  // 当鼠标放到下箭头上的时候
{
    height:9px;width:8px;
    border-image:url(:/images/a/2.png);
    subcontrol-position:top;
}
QScrollBar#ScrollBar::add-page:vertical,QScrollBar::sub-page:vertical   // 当滚动条滚动的时候，上面的部分和下面的部分
{
    background:rgba(0,0,0,10%);
    border-radius:4px;
}



QWidget#widgetColumn>QPushButton
{
	height:35px;
}

QWidget#widgetColumn>QPushButton:checked
{	
	border-image:url(:/MainTab/Resources/maintab/main_tab_check.png) 0 0 0 0 stretch stretch;
}

QWidget#widgetColumn>QPushButton:hover
{
	border-image:url(:/MainTab/Resources/maintab/main_tab_check.png) 0 0 0 0 stretch stretch;
}

QWidget#widgetColumn>QPushButton::menu-indicator
{
	border-image: none;
}

QWidget#widgetColumn>QPushButton::menu-indicator:checked:hover
{
	width:20px;
	height:30;
	border-image:url(:/MainTab/Resources/maintab/main_tabbtn_highlight.png) 0 0 0 0 stretch stretch;
}

QWidget#widgetColumn>QPushButton::menu-indicator:pressed, QWidget#widgetColumn>QPushButton::menu-indicator:open
{
	border-image:url(:/MainTab/Resources/maintab/main_tabbtn_highlight.png) 0 0 0 0 stretch stretch;
}
